@page
@model IndexModel

<div class="container">
    <div class="row">&nbsp;</div>
    <div class="row">
        <div class="col-12">
            <form asp-page-handler="AddRoom" class="form-inline" method="post">
                <div class="form-group">
                    <label>Add new room:</label>
                    <input type="text" name="roomname" class="form-control" placeholder="Room Name" />
                    <button type="submit" class="btn btn-primary">Add</button>
                </div>
            </form>

        </div>
    </div>
    <div class="row">&nbsp;</div>
    <div class="row">
        @foreach (var room in Model.Rooms)
        {
            <div class="col-4">
                <div class="card">
                    <div class="card-header text-center">
                        <h1>Room: @room.Name</h1>
                    </div>
                    <div class="card-body">
                        @foreach (var participant in room.Participants)
                        {
                            <p>@participant.Name</p>
                        }
                    </div>
                    <div class="card-footer">
                        <form asp-page-handler="JoinRoom" method="post">
                            <div class="form-group">
                                <input type="hidden" name="roomid" value="@room.Id" />
                                <label>Join Room:</label>
                                <input type="text" name="name" class="form-control" placeholder="Name" />
                                <button type="submit" class="btn btn-primary">Join</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        }
    </div>
</div>

