@page
<div class="w3-card-4">
    <header class="blue-background">
      <h1>Room Name</h1>
    </header>
    <div class="scroll">
        <div class="row">
            <div class="col-6">
                <ul id="messagesList"></ul>
            </div>
        </div>
    </div>
    <footer class="blue-background">
        <div class="row">
            <div class="col-2">Message</div>
            <div class="col-4"><input type="text" id="messageInput" /></div>
        </div>
        <div class="row">&nbsp;</div>
        <div class="row">
            <div class="col-6">
                <input onclick="updateScroll()" type="button" id="sendButton" value="Send Message" />
            </div>
        </div>
    </footer>
</div>

<script src="~/js/signalr/dist/browser/signalr.js"></script>
<script src="~/js/chat.js"></script>
